# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
#.env

# Build directories
/dist
/build

# OS-specific files
.DS_Store   # macOS specific
Thumbs.db   # Windows specific

# IDE/editor directories and files
.vscode/
.idea/
*.swp        # Vim swap files

# Dependency directories
bower_components/

# Coverage directory (for test coverage)
coverage/

# Temp files
*.tmp
*.temp

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: If using Docker
docker-compose.override.yml

# Optional: If using production build
/prod/
