/*Main App*/
.header {
  padding-top: 12px;
  background: #fff;
}

.content {
  margin: 24px 16px;
  padding: 20px;
}

.triger-btn {
  font-size: 16px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}
/*Sider */

.sider {
  height: 100vh;
  position: sticky !important;
  left: 0;
  top: 0;
  bottom: 0;
}

.logo {
  color: #4f6f52;
  margin-top: 20px;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 500;
}

.ant-menu-item-selected {
  background-color: #4f6f52 !important;
  color: #fff !important;
}

/*Header*/

.header-icon {
  background: #d2e3c8;
  padding: 8px;
  border-radius: 4px;
  font-size: 15px;
  color: #4f6f52;
  cursor: pointer;
}

.header-icon:hover {
  color: #173a1a;
}

/*button and colors*/
.ant-btn:hover {
  color: #4f6f52 !important;
  border-color: #4f6f52 !important;
}

.ant-btn-primary {
  background-color: #4f6f52;
}

.ant-btn-primary:hover {
  background-color: #173a1a !important;
  color: #fff !important;
}

.primary--color {
  color: #4f6f52 !important;
}

.primary--light--color {
  color: #739072 !important;
}

.secondary--color {
  color: #86a789 !important;
}

.light--color {
  color: #d2e3c8 !important;
}

.gray--color {
  color: rgb(182, 181, 181) !important;
}

.Dash-card {
  left: 10px;
}

.card {
  width: 100%;
  height: 80%;
}

.graph {
  padding-top: 50px;
}
