.LoginForm {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff6b6b, #ffb56b, #4e89ae, #35d3ff);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  z-index: 0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: black;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
}

.login {
  width: 150px;
  height: 50px;
  color: #fff;
  margin-bottom: 5px;
}

.ant-form-item {
  margin-bottom: 30px;
  text-align: left;
}

p {
  font-style: italic;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

.login-form-button{
  height: 40px;
  margin-top: 15px;
  display: flex;
  justify-content: center !important; 
}

.logo-icon {
  margin-top: 20px;
  color: #4f6f52;
  font-size: 100px; 
  margin-bottom: 20px;
  filter: drop-shadow(0 0 2px rgba(79, 111, 82, 0.8)); 
}

.resend{
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

a{
  cursor: pointer;
}